.luckyNumbersContainer {
  display: flex;
  gap: 150px;
  align-items: flex-start;
  justify-content: center;
  padding: 85px;
}

.luckyNumbersForm {
  border: 1px solid green;
  width: 400px;
}

h5 {
  font-size: 18px;
  padding-bottom: 10px;
  padding: 8px;
}

.border {
  border-bottom: 1px solid green;
  width: 100%;
}

.numberForm {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
}

label {
  font-size: 14px;
}

input {
  width: 250px;
  margin-bottom: 10px;
}
